<div class="title">
  <h1>Todo List</h1>
</div>
<div class="container">
  <%= form_with model: @task do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>

    <%= f.label :memo %>
    <%= f.text_field :memo, class: "form-control" %>

    <%= f.label :duetime %>
    <%= f.datetime_select :duetime, class: "form-control" %>

    <%= f.submit "create a task" %>
  <% end %>
</div>

