<p id="notice"><%- notice %></p>

<%= @movie.title %>
<%= @movie.content %>

<% if @movie.movie.attached? %>
  <%= "Hello, World!" %>
  <video src="<%= rails_blob_path(@movie.movie) %>" type="video/mp4" controls></video>
<% else %>
  <p>hh</p>
<% end %>

<%= link_to 'Edit', edit_movie_path(@movie) %>
<%= link_to 'Back', movies_path %>